.page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 243, 238);
  font-family: 'Arial', sans-serif;
  font-size: 12px;

}

.page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 243, 238);
  font-family: 'Arial', sans-serif;
  font-size: 12px

}

#titulo1, #titulo2 {
  text-align: center;
}

.header-list {

  background-color: rgb(199, 202, 190);
  color: rgb(8, 19, 10);
}

.footer {
  background-color: rgb(199, 202, 190);
  font-size: 10px;
}

.contenido1, .contenido2, .contenido3 {
  background-color: rgb(229, 238, 200);
  text-align: justify;

}